/* CreateTicketForm.css */

.ticket-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  



  /* TicketList.css */
.ticket-list {
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}

h2 {
  color: #2c3e50;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li strong {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #3498db;
}

p {
  margin: 5px 0;
}

.loading-message {
  font-style: italic;
  color: #888;
  text-align: center;
}
